.btn-danger:disabled {
  color: #878484;
  background-color: #bdaeaf;
  border-color: #bdaeaf;
}

.card-register {
  .btn-forgot {
    padding: 7px 0;
    text-transform: lowercase;
    letter-spacing: -0.5px;
    font-size: 12px;
    color: #ffffffba;
    &:hover {
      color: #FFFFFF;
    }
  }
}

.container {
  .card-forgot {
    min-height: 360px;
  }
}

.notification-error {
  padding: 1rem;
  border-radius: 8px;
  font-weight: 500;
  i {
    margin-top: 1px;
  }
}
