<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{ type.type }} Data Rainfall</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true" (click)="activeModal.close('close')">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="notification-error bg-warning d-flex align-items-center w-100 mb-3" *ngIf="isAlreadyExist">
    <i class="fa fa-exclamation-circle"></i>&nbsp;
    <span>Data year and month is already exist.</span>
  </div>
  <form [formGroup]="formGroup" class="w-100">
    <div class="form-group">
      <label>Year: <strong class="text-danger">*</strong></label>
      <input formControlName="year" autocomplete="off" class="form-control" name="date" placeholder="Input Year"
             maxlength="4"
             pattern="[0-9]*" inputmode="numeric" digitOnly
             [ngClass]="{ 'border border-danger' : (formGroup.get('year').invalid && (formGroup.get('year').dirty || formGroup.get('year').touched)) || isAlreadyExist }"
      >
      <small *ngIf="formGroup.get('year').invalid && (formGroup.get('year').dirty || formGroup.get('year').touched)">
        <span class="text-danger" *ngIf="formGroup.get('year').errors?.required">
          Field year must be filled.
        </span>
      </small>
    </div>
    <div class="form-group">
      <label >Month: <strong class="text-danger">*</strong></label>
      <ng-select
        [items]="dataOptions"
        bindLabel="name"
        bindValue="id"
        formControlName="month"
        placeholder="Input Month"
        [ngClass]="{ 'select-danger' : (formGroup.get('month').invalid && (formGroup.get('month').dirty || formGroup.get('month').touched)) || isAlreadyExist }"
      ></ng-select>
      <small *ngIf="formGroup.get('month').invalid && (formGroup.get('month').dirty || formGroup.get('month').touched)">
        <span class="text-danger" *ngIf="formGroup.get('month').errors?.required">
          Field month must be filled.
        </span>
      </small>
    </div>
    <div class="form-group">
      <label>dewpoint:</label>
      <input type="text" class="form-control" placeholder="Pos ID" formControlName="dewpoint_2m_temperature">
    </div>
    <div class="form-group">
      <label>Maximum Temperature (°C):</label>
      <input type="text" class="form-control" placeholder="Input Maximum Temperature (°C" formControlName="maximum_2m_air_temperature">
    </div>
    <div class="form-group">
      <label>Mean Temperature (°C):</label>
      <input type="text" class="form-control" placeholder="Input Mean Temperature (°C)" formControlName="mean_2m_air_temperature">
    </div>
    <div class="form-group">
      <label>Minimum Temperature (°C):</label>
      <input type="text" class="form-control" placeholder="Input Minimum Temperature (°C)" formControlName="minimum_2m_air_temperature">
    </div>
    <div class="form-group">
      <label>Total Prepicitation:</label>
      <input type="text" class="form-control" placeholder="Enter Total Prepicitation" formControlName="total_precipitation">
    </div>
    <div class="form-group">
      <label>Horizontal Vertical:</label>
      <input type="text"  class="form-control" placeholder="Enter Horizontal Vertical" formControlName="u_component_of_wind_10m">
    </div>
    <div class="form-group">
      <label>Vertical Wind:</label>
      <input type="text"  class="form-control" placeholder="Enter Vertical Wind" formControlName="v_component_of_wind_10m">
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="left-side">
    <button type="button" class="btn btn-default btn-link" (click)="save(formGroup.value)" [disabled]="!formGroup.valid">Save</button>
  </div>
  <div class="divider"></div>
  <div class="right-side">
    <button type="button" class="btn btn-danger btn-link" (click)="activeModal.close('Close click')">Back</button>
  </div>
</div>
