<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">Hydrology and Water Quality Information System</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">Serayu River Basin</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
    <div class="main">
      <app-website-feature></app-website-feature>
      <app-recent-data></app-recent-data>
      <!-- <app-statistic></app-statistic> -->
      <app-video-news></app-video-news>
      <div class="section" id="carousel">
          <div class="container">
              <div class="tim-title">
                  <h3>Picture</h3>
              </div>
              <div class="row">
                  <div class="col-md-8 mr-auto ml-auto">
                      <div class="card page-carousel">
                          <ngb-carousel>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/serayu1.jpg" alt="Random first slide">
                                  <div class="carousel-caption">
                                      <p>Serayu Picture 1</p>
                                  </div>
                              </ng-template>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/serayu2.jpg" alt="Random second slide">
                                  <div class="carousel-caption">
                                      <p>Serayu Picture 2</p>
                                  </div>
                              </ng-template>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/serayu3.jpg" alt="Random third slide">
                                  <div class="carousel-caption">
                                      <p>Serayu Picture 3</p>
                                  </div>
                              </ng-template>
                          </ngb-carousel>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
